{% extends 'inventory/base.html' %}
{% block title %}Inventario{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Siglas</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Principio Activo</th>
                        <th scope="col">Proveedor</th>
                        <th scope="col">Laboratorio</th>
                        <th scope="col">Código</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for item in inventario_items %}
                    <tr>
                        <td>{{ item.siglas }}</td>
                        <td>{{ item.descripcion }}</td>
                        <td>{{ item.principio_activo }}</td>
                        <td>{{ item.proveedor }}</td>
                        <td>{{ item.laboratorio }}</td>
                        <td>{{ item.codigo }}</td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if user.is_staff and user.is_superuser %}
        <div class="col-md-4">
            <form method="POST">
                <h4>Agregar un Nuevo Producto al Inventario</h4>
                <hr>
                {% csrf_token %}
                {{ form|crispy}}
                <br>
                <button type="submit" class="btn btn-primary">Agregar</button>
            </form>
        </div>
        {% else %}
        <div class="col-md-4">

        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
